body{
 margin: 0px;
 letter-spacing: .1em;
 word-spacing: .1em;
 background-color: black;
 color: white;
 font-family: Georgia;
}

p{	
font-size: 13px;
}

.div_img{
	text-align:center;
}

.div_img img{
	width:200px;
	height:200px; 
	align:top;
}

.headersec{
    padding: 1% 15%;
}
#profile{

	text-align: centre;
}

div{
	display:block;
	text-align: center;
}

#profile img{
	height:110px;
	width:110px;
	border-radius: 50%;
	border: 2px solid white;
}

h1{	
	padding-top: 15px;
   margin:0px 0px 0px 0px;
   padding-bottom: 15px;
   
   opacity: .9px;
}

p{
margin:0px 0px 0px 0px;
padding-bottom: 10px;
color: white;
text-decoration: none;
text-align: center;
}

ul{
	padding-left: 0px;
}
li{
	display:inline-block; 
}
ul li
{
 display:inline-block;
 list-style: none;
 word-spacing: 10px;
 padding: 0px 20px;
}

.Media_links li a{
 	  
	 margin: 0px;
	 padding: 0px;
	 color: white;
	 text-decoration: none;
}
.Media_links  a:hover {
	opacity: 0.6;
}
h2{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
h2 a{
	color: pink;
}
.footer{
	margin: 30px;
	text-align: center;
	margin-top:90px; 
	text-align-last: center;
}
.footer_links{
	padding-top: 10px;
}

.footer_links li a img{
width: 22px;
}
.footer_links li{
	margin: 0px 10px;
}

.Media_lists{
	list-style: none;
}
a{
	background-color: transparent;
	text-decoration: none;
	color: #fff;
    font-size: 1.2em;
}

p a{
	color: grey;
}
@media(max-width: 500px){
.nav_barli li{
display: block;
padding-bottom: 8px;


}
}

.NavigationBar{
	margin-top: 45px;
}
  .footer_links li a img:hover{
  	opacity: 0.6;
  }
  .nav_barli li a:hover{
  	opacity: 0.6;
  }
div.desc {
    padding: 15px;
    text-align: center;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.img:hover {
    border: 1px solid #777;
}
div.img img {
    width: 100%;
    height: auto;
}





